<div class="container color-dark">
  <div class="col">
    <p>{{'feature.bucketlist.title' | translate}}</p>
  </div>
  <div class="col">
    <p [translate]="'feature.bucketlist.list.header'" [translateParams]="{value: goalsCount$ | async}"></p>
  </div>
</div>
<div class="container color-light" [@goals]="goalsCount$ | async">
  <div class="col">
    <p class="sm">{{'feature.bucketlist.help' | translate}}</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="{{'feature.bucketlist.form.input.item.placeholder' | translate}}" [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="'feature.bucketlist.form.button.add-item' | translate" (click)="addGoal()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals$ | async" (click)="removeGoal(goal)">
      {{ goal.name }}
    </p>
  </div>
</div>
